* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: 1fr 4fr/1fr 4fr;
    height: 100vh;

}

div {
    border: 1px solid red;
}

section {
    border: 1px solid green;
}

#sidebar {
    grid-row: 1/3;
}

#main-content {
    display: grid;
    grid-template: 1fr 1fr/3fr 1fr;
    overflow-y: auto;
    gap: 30px;
    padding: 30px;
}

#projects {
    background-color: aliceblue;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    gap:20px;
    min-width: min-content;
}

#projects>div {
    flex: 1;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 300px;
    gap: 30px;
    overflow-y: auto;


}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card p {
    flex: 1;
}

.card ul {
    list-style: none;
    display: flex;
    margin-left: auto;
}